# Module 4 Challenge - Pandas

## Analysis

add analysis here

## Setup

In [107]:
# setup
from pathlib import Path
import pandas as pd

In [108]:
# set path
school_file = Path("../Resources/schools_complete.csv")
students_file = Path("../Resources/students_complete.csv")

# read and store in DataFrames (DF)
school_df = pd.read_csv(school_file, encoding='utf-8').set_index(["school_name"])
students_df = pd.read_csv(students_file, encoding='utf-8')

# merge into one DF
complete_df = pd.merge(school_df, students_df, how="left", on=["school_name", "school_name"])
complete_df

,school_name,School ID,type,size,budget,Student ID,student_name,gender,year,reading_score,maths_score
0,Huang High School,0,Government,2917,1910635,0,Paul Bradley,M,9,96,94
1,Huang High School,0,Government,2917,1910635,1,Victor Smith,M,12,90,43
2,Huang High School,0,Government,2917,1910635,2,Kevin Rodriguez,M,12,41,76
3,Huang High School,0,Government,2917,1910635,3,Richard Scott,M,12,89,86
4,Huang High School,0,Government,2917,1910635,4,Bonnie Ray,F,9,87,69
...,...,...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,14,Independent,1635,1043130,39165,Donna Howard,F,12,51,48
39166,Thomas High School,14,Independent,1635,1043130,39166,Dawn Bell,F,10,81,89
39167,Thomas High School,14,Independent,1635,1043130,39167,Rebecca Tanner,F,9,99,99
39168,Thomas High School,14,Independent,1635,1043130,39168,Desiree Kidd,F,10,72,77
39169,Thomas High School,14,Independent,1635,1043130,39169,Carolyn Jackson,F,11,47,62

## Local Government Area (LGA) Summary

In [109]:
# calculate totals 
# total unique schools
school_count = complete_df['school_name'].nunique()
print("Total unique schools: " + str(school_count))

# total students
student_count = complete_df["student_name"].count()
print("Total students: " + str(student_count))

# total budget
total_budget = school_df["budget"].sum()
print("Total budget: " + str(total_budget))

Total unique schools: 15
Total students: 39170
Total budget: 24649428

In [110]:
# calculate averages
# average maths score
avg_maths = complete_df["maths_score"].mean()
avg_maths = avg_maths.round(decimals = 2)
print("Average maths score: " + str(avg_maths))

#average reading score
avg_reading = complete_df["reading_score"].mean()
avg_reading = avg_reading.round(decimals = 2)
print("Average reading score: " + str(avg_reading))

Average maths score: 70.34
Average reading score: 69.98

In [126]:
# calculate % passing 
# % passing maths
passing_maths = complete_df[complete_df["maths_score"] >= 50]["student_name"].count()
passing_maths_percent = (passing_maths / float(student_count)) * 100
print("Percentage of students passing maths: " + str(passing_maths_percent) + "%")

# % passing reading
passing_reading = complete_df[complete_df["reading_score"] >= 50]["student_name"].count()
passing_reading_percent = (passing_reading / float(student_count)) * 100
print("Percentage of students passing reading: " + str(passing_reading_percent) + "%")

# % overall passing
passing_overall = complete_df[(complete_df["reading_score"] >= 50) & (complete_df["maths_score"] >= 50)]["student_name"].count()
passing_overall_percent = (passing_overall / float(student_count)) * 100
print("Percentage of students passing reading: " + str(passing_overall_percent) + "%")

Percentage of students passing maths: 86.07863160582077%
Percentage of students passing reading: 84.42685728874139%
Percentage of students passing reading: 72.80827163645647%

In [112]:
# convert to DF
area_summary = pd.DataFrame({"Total Unique Schools": school_count,
                             "Total Students": student_count,
                             "Total Budget": total_budget,
                             "Average Maths Score": avg_maths,
                             "Average Reading Score": avg_reading,
                             "% Passing Maths": passing_maths_percent,
                             "% Passing Reading": passing_reading_percent,
                             "% Overall Passing": passing_overall_percent}, index=[0])
# formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)
area_summary["% Passing Maths"] = area_summary["% Passing Maths"].map("{:,.2f}%".format)
area_summary["% Passing Reading"] = area_summary["% Passing Reading"].map("{:,.2f}%".format)
area_summary["% Overall Passing"] = area_summary["% Overall Passing"].map("{:,.2f}%".format)

# print
area_summary

,Total Unique Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.34,69.98,86.08%,84.43%,72.81%

## School Summary

In [113]:
# use code provided to select type of school from school_df
school_types = school_df["type"]
school_types

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [114]:
# calculate totals
# total students
students_per_school = school_df["size"]
students_per_school

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [115]:
# total school budget
total_school_budget = school_df["budget"]
total_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [116]:
# budget per student
budget_per_student = total_school_budget / students_per_school
budget_per_student

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [143]:
# groupby school name
school_grouped_df = complete_df.groupby(["school_name"])

# average maths score 
per_avg_math = school_grouped_df["maths_score"].mean()
per_avg_math = per_avg_math.round(decimals=2)
per_avg_math

school_name
Bailey High School       72.35
Cabrera High School      71.66
Figueroa High School     68.70
Ford High School         69.09
Griffin High School      71.79
Hernandez High School    68.87
Holden High School       72.58
Huang High School        68.94
Johnson High School      68.84
Pena High School         72.09
Rodriguez High School    72.05
Shelton High School      72.03
Thomas High School       69.58
Wilson High School       69.17
Wright High School       72.05
Name: maths_score, dtype: float64

In [144]:
# average reading score 
per_avg_reading = school_grouped_df["reading_score"].mean()
per_avg_reading = per_avg_reading.round(decimals=2)
per_avg_reading

school_name
Bailey High School       71.01
Cabrera High School      71.36
Figueroa High School     69.08
Ford High School         69.57
Griffin High School      71.25
Hernandez High School    69.19
Holden High School       71.66
Huang High School        68.91
Johnson High School      69.04
Pena High School         71.61
Rodriguez High School    70.94
Shelton High School      70.26
Thomas High School       69.77
Wilson High School       68.88
Wright High School       70.97
Name: reading_score, dtype: float64

In [145]:
# total students passing maths
per_pass_maths = complete_df[complete_df["maths_score"] >= 50]
per_pass_maths = per_pass_maths.groupby(["school_name"])
per_pass_maths = per_pass_maths["student_name"].count()
per_pass_maths

school_name
Bailey High School       4560
Cabrera High School      1688
Figueroa High School     2408
Ford High School         2258
Griffin High School      1339
Hernandez High School    3752
Holden High School        384
Huang High School        2383
Johnson High School      3907
Pena High School          882
Rodriguez High School    3631
Shelton High School      1612
Thomas High School       1371
Wilson High School       1890
Wright High School       1652
Name: student_name, dtype: int64

In [146]:
# % passing maths
per_percent_maths = (per_pass_maths / students_per_school) * 100
per_percent_maths

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [147]:
# total students passing reading
per_pass_reading = complete_df[complete_df["reading_score"] >= 50]
per_pass_reading = per_pass_reading.groupby(["school_name"])
per_pass_reading = per_pass_reading["student_name"].count()
per_pass_reading

school_name
Bailey High School       4348
Cabrera High School      1655
Figueroa High School     2442
Ford High School         2252
Griffin High School      1299
Hernandez High School    3795
Holden High School        378
Huang High School        2376
Johnson High School      3903
Pena High School          833
Rodriguez High School    3495
Shelton High School      1527
Thomas High School       1351
Wilson High School       1856
Wright High School       1560
Name: student_name, dtype: int64

In [148]:
# % passing reading
per_percent_reading = (per_pass_reading / students_per_school) * 100
per_percent_reading

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [149]:
# total students passing maths and reading
per_pass_overall = complete_df[(complete_df["reading_score"] >= 50) & (complete_df["maths_score"] >= 50)]
per_pass_overall = per_pass_overall.groupby(["school_name"])
per_pass_overall = per_pass_overall["student_name"].count()
per_pass_overall

school_name
Bailey High School       3985
Cabrera High School      1501
Figueroa High School     1995
Ford High School         1848
Griffin High School      1194
Hernandez High School    3076
Holden High School        337
Huang High School        1946
Johnson High School      3199
Pena High School          762
Rodriguez High School    3176
Shelton High School      1389
Thomas High School       1136
Wilson High School       1540
Wright High School       1435
Name: student_name, dtype: int64

In [150]:
# % passing reading and maths
per_percent_overall = (per_pass_overall / students_per_school) * 100
per_percent_overall

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [151]:
# create DF
school_summary = pd.DataFrame({"School Type": school_types,
                             "Total Students": students_per_school,
                             "Total School Budget": total_school_budget,
                             "Budget Per Student": budget_per_student,
                             "Average Maths Score": per_avg_math,
                             "Average Reading Score": per_avg_reading,
                             "% Passing Maths": per_percent_maths,
                             "% Passing Reading": per_percent_reading,
                             "% Overall Passing": per_percent_overall})

# formatting
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Budget Per Student"] = school_summary["Budget Per Student"].map("${:,.2f}".format)
school_summary["% Passing Maths"] = school_summary["% Passing Maths"].map("{:,.2f}%".format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map("{:,.2f}%".format)
school_summary["% Overall Passing"] = school_summary["% Overall Passing"].map("{:,.2f}%".format)

school_summary

,School Type,Total Students,Total School Budget,Budget Per Student,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.35,71.01,91.64%,87.38%,80.08%
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.66,71.36,90.85%,89.07%,80.79%
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.70,69.08,81.65%,82.81%,67.65%
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.09,69.57,82.44%,82.22%,67.47%
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.79,71.25,91.21%,88.49%,81.34%
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.87,69.19,80.95%,81.88%,66.36%
Holden High School,Independent,427,"$248,087.00",$581.00,72.58,71.66,89.93%,88.52%,78.92%
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.94,68.91,81.69%,81.45%,66.71%
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.84,69.04,82.06%,81.98%,67.19%
Pena High School,Independent,962,"$585,858.00",$609.00,72.09,71.61,91.68%,86.59%,79.21%
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.05,70.94,90.80%,87.40%,79.42%
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.03,70.26,91.54%,86.71%,78.88%
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.58,69.77,83.85%,82.63%,69.48%
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.17,68.88,82.79%,81.30%,67.46%
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.05,70.97,91.78%,86.67%,79.72%